MRI_AGENT_API_KEY=your_api_key_here
MRI_AGENT_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MRI_AGENT_MODEL=qwen3.5-plus
MRI_AGENT_TEMPERATURE=0.7
MRI_AGENT_MAX_TOKENS=2048

MRI_SYSTEM_MAX_GRAD=32
MRI_SYSTEM_GRAD_UNIT=mT/m
MRI_SYSTEM_MAX_SLEW=130
MRI_SYSTEM_SLEW_UNIT=T/m/s
MRI_SYSTEM_RF_RINGDOWN_TIME=20e-6
MRI_SYSTEM_RF_DEAD_TIME=100e-6
MRI_SYSTEM_ADC_DEAD_TIME=10e-6
